* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #2FC3BB;
    --secondary: #EDB446;
    --tertiary: #A8BEC9;
    --tertiary-dark: #6C8997;
    --board-bg: #192A32;
    --board-child: #1F3540;
    --board-child-shadow: #102129;
}

body {
    background-color: var(--board-bg);
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    width: 350px;
    margin: auto;
}

.game-action-bar {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 60px 0px;
    align-items: center;
}

.game-title {
    font-size: 48px;
    color: var(--primary);
}

.game-title > span {
    margin-left: 8px;
    color: var(--secondary);
}

.game-start-reset-btn {
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    letter-spacing: 4px;
    height: 60px;
    text-transform: uppercase;
    padding: 8px 20px;
    cursor: pointer;
    background-color: var(--tertiary);
    border: none;
    border-radius: 10px;
    color: var(--board-child);
    box-shadow: 0 10px 0px var(--tertiary-dark);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 25px;
    justify-content: center;
}

.game-board-item {
    background-color: var(--board-child);
    box-shadow: 0 10px 0px var(--board-child-shadow);
    border-radius: 10px;
}